input[type=submit] {
	background: blue;
	border: none;
	padding: 10px 2%;
	text-align: center;
	width: 100%;
	color: #fff;
	font-weight: 700;
    cursor: pointer;
    font-size: 20px;
}

#form-container {
    width: 66%;
    margin: 40px auto;
    box-shadow: 5px 5px 10px;
    border-radius: 15px 15px 15px 15px;
  }
