@import url('https://fonts.googleapis.com/css?family=Lato|Nunito+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #aaa;
}

@media only screen and (max-width: 640px) {
  section {
    max-width: 0%;
  }
}
@media only screen and (min-width: 1025px) {
  section {
    max-width: 50%;
  }
}

section {
  margin: 0 auto;
  min-height: 200px;
  padding: 2% 0;
  background-color: #bbb;
  border-radius: 5px;
}

section:nth-child(even) {
  background-color: #ddd;
}

.top {
  margin-top: 100px;
}

h1, h2, h3 {
  font-family: 'Lato', 'sans-serif';
}


