h1 {
  font-size: 2em;
  background-color:coral;
  margin-bottom: 0px;
}
header {
  padding-top: 2%;
  padding-bottom: none;
}

li a:hover {
  background-color: #111;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

nav a:hover {
  background-color: #111;
}
nav a {
  background: blue;
  border: none;
  padding: 10px 2%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (min-width: 1025px) {
  nav, header {
    max-width: 50%;
    margin: 0 auto;
  }
}