h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

li a {
  display:inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

header {
  padding: 1% 0;
}

#form-container {
  width: 400px;
  margin: 40px auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.navList li {
  display: inline;
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 1025px) {

}