h1 {
  font-size: 2em;
  background-color:coral;
  margin-bottom: 0px;
}

li a:hover {
  background-color: #111;
}

header {
  padding-top: 2%;
  padding-bottom: none;
}

nav a:hover {
  background-color: #111;
}
nav a {
  background: blue;
  border: none;
  padding: 10px 2%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
}